/*##Colors*/

/*###Primary*/

$violet: hsl(257, 40%, 49%);
$bg-white: hsl(0,0,100%);
$bg-white-hover: rgb(245, 233, 233);

/*## Typography*/

/*### Body*/

$font-size: 16px;

/*### Font*/

$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-w-normal:400;
$font-w-bold:700;



