@import "./styles/basic";
@import "./styles/mixins";

body{
    @include background("./static/images/bg-mobile.svg",$violet);
    font-family: $font-body;
    font-size: $font-size;
    font-weight: $font-w-normal;
    color:$bg-white;
    min-width: 320px;
    margin: 0 auto;
    max-width: 500px;
    @media screen and(min-width:820px){
        @include background("./static/images/bg-desktop.svg",$violet);
        max-width: none;
    }
    @media screen and(min-width:1224px){
        font-size: 20px
    }
}


.container{
    height: auto;
    padding: 2rem 1.5rem 0 1.5rem;
    text-align: center;
    header{
        @include logo(20%,200px,150px);
        margin-bottom: 1rem;
    }
    .main{
        display: flex;
        flex-direction: column;
        .hero{
            margin: 2rem auto;
            width: 100%;
            min-height: 195px;
            height: 30vw;
            background-image: url("./static/images/illustration-mockups.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;  
            @media screen and(min-width:820px){
                width: 60%;
                margin: 0;
            }
            @media screen and(min-width:1224px){
                width: 50%;
                background-position: center left;
            }
        }
        .info{
            @include header($font-heading,$font-w-bold);
            margin: 0 auto 1rem  auto;
            max-width: 400px;
            .btn{
                button{
                    @include btn($bg-white,$violet,$bg-white-hover,$bg-white-hover,$font-w-normal);
                    font-family: $font-heading
                }
                margin: 1rem 0;
                @media screen and(min-width:820px){
                    width: 45%;
                }
                @media screen and(min-width:1224px){
                    width: 35%;
                }
            }
            @media screen and(min-width:820px){
                width: 40%;
                margin: 0;
                max-width: none;
            }
            @media screen and(min-width:1224px){
                h1{
                    width: 70%;
                }
                width: 50%;
            }
        }
        @media screen and(min-width:820px){
            margin: 2.5rem 0;
            flex-direction: row;
            align-items: center;
            text-align: left;
        }
    }
    .contact{
        margin: 1rem auto 2rem auto;

        & > *{

            margin-right: .5rem;
            padding: .8rem;
            color:$bg-white;
            border: 1px solid $bg-white;
            border-radius:50%;
            transition: all .25s ease;
            box-shadow: 5px 9px 16px #0101012a;
            font-size: 16px;

            i{
                width: 16px;
                height: 16px
            }

            &:hover{
                box-shadow: 2px 4px 8px #0101012a;
            }
        }
        @media screen and(min-width:820px){
            margin:0;
            margin-top:.5rem;
            text-align: right 
        }
    }
    @media screen and(min-width:820px){
        min-height: 645px;
        padding: 2rem 4rem 0 4rem;
    }
}
footer{
    .attribution { font-size: 14px; text-align: center; padding: .5rem 0 }
    .attribution a { color: hsl(0, 0%, 100%); }
}